.file, .folder {  
  margin-left: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  display: inline-block;
  color: black;
}

.folder:hover {
  color: Dodgerblue; 
}

.file {
  color : gray;
}

.fa-folder, .fa-file {
  color: #a5d2ff;
}

.path-container { 
  margin: 15px;
  min-height: 50px;
  max-width: 600px;
  overflow: scroll;
}

.path {
  padding: 5px;
  margin: 0 5px;
  text-decoration: none; 
  border-radius: 15%;
  background: #e3e3e1;
}

.path:hover{
  background: #c7c7e2;
}

.folder-list {
  padding: 10px;
  background: gray;
  border-radius: 5%; 
}

li { 
 list-style: none; 
}

.folder-container {
  border: 1px solid;
  border-radius: 20px;
  width: 600px;
  background-color: rgb(245,245,245);
  position: absolute;
  top: 100px;
  left: 200px;
  z-index: 3; 
}

.folder-contents {
  min-height: 150px;
  max-height: 150px;
  overflow: scroll;
}

.dbx-saver-btn {
  border: 1px solid;
  width: 100px;
  height: 40px; 
  border-radius: 10px; 
  font-size: 1.1em;
  margin: 10px;
}

.dbx-saver-btn:hover{
 color: blue;
}

.dbx-saver-btn-container {
  display: flex;
  justify-content: flex-end;
}

.info-header {
  margin: 0;
  display: flex; 
  justify-content: space-between;
  align-items: flex-end;
}

.account-name { 
  align-self: flex-end;
  padding-right: 10px; 
}

.fa-dropbox{
  display: inline-block;
  margin: 5px;
  color: #0443f6;
  flex-grow: 0;
}

hr {
 height: 1px;
 margin: 5px 15px;
 background: black; 
}