.CodeMirror {
  height: 80vh;
  /* border-radius: 1.5%; */
  font-family: 'Courier New', Courier, monospace;
}

/* Fountain CSS */
.ften-slugline {
  text-decoration: underline;
  font-weight: bold;
  width: 6in;
  display: inline-block;
}

.ften-character {
  width: 3.3in;
}

.ften-dialog {
  /* width: 3.3in; */
  display: inline-block;
}

.ften-parenthetical {
  /* width: 2in; */
  display: inline-block;
}

.ften-transition {
  float: right;
}
