* {
  box-sizing: border-box;
}

body {
  background-color: floralwhite;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,'Helvetica Neue',Helvetica,sans-serif
}

.menu-bar{
  margin: 0 auto;
  display: flex;
}

.menu-item{
  border-radius: 25%;
  cursor: pointer;  
  background-color: rgb(134, 146, 146);
  padding: 5px;
  margin: 0 15px 10px 0;
  opacity: .8;  
  display: inline;
  position: relative;
}

.menu-item:hover{
  background-color:darkslategray;
}

.tooltiptext {
  width: 100px;
  background-color: rgb(39, 37, 37);   
  color: #fff;
  text-align: center; 
  border-radius: 6px;
  visibility: hidden;
  position: absolute;
  top: 50px;
  z-index: 3;
}

.menu-item:hover .tooltiptext{
  visibility: visible;
}

.master {
  padding-left: 0;
  padding-top: 10px;
  padding-right: 0;   
}

.master__warning {
  color: red;
}

.detail {
   height: 100%;
   margin-left: 0;
   margin-right: 0;
}

.editor {   
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 60%;
  height: 100%;   
  padding-right: 1px;
}

.navigator {
  padding: 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 40%;   
  height: 100%;   
  background-color:#263238;
  font-family: 'Courier New', Courier, monospace;
  max-height: 85vh;
  overflow: scroll;
  border-top-left-radius: 2%; 
  border-top-right-radius: 2%; 
}

.navigator-section {
  color: brown;
  padding-left: 10px;
}

.section-1 {
  padding-left: 20px;
}

.section-2 {
  padding-left: 30px;
}

.navigator-section .navigator-section-3 {
  padding-left: 40px;
}

.navigator-scene_heading {
  color: yellowgreen;
  padding-left: 50px;
}

.editor__toolbar {      
  padding: 5px;
  background: darkgrey;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.editor__toolbar__filename {
  font-style: italic;
}

.editor__toolbar__btn {
  margin-left: 10px;
  padding-bottom: 0;
  cursor: pointer;
  opacity: 0.8;
  border-style: none;
  background-color: floralwhite;
  border-radius: 25%;
}

.editor__toolbar__btn:hover{
  background-color:darkslategray;
}

.editor__toolbar__btn:active{
  border: 0;
  outline: 0;
}

.editor__toolbar__btn:focus{
  border: 0;
  outline: 0;
}

.editor__warning {
  color: red;
  float: right;
}

.transmenu {
  display: inline-block;
  width: 150px;
  padding-left: 25px;
}

.pdf {
  width: 100%;
  float: left;
  height: 100%;
}

.dialog {
  display: inline-flex;
  background-color: rgb(200, 232, 237);
  border-radius: .25rem;   
  align-content: space-between;
  padding-left: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.dialog p{
  margin-left: 10px;
  margin-right: 10px;
}

.dialog--btn {
  width: 100px;
  height: 40px;
  background-color: rgb(253,182,12);
  border-radius: .25rem;
  color: blue;
  font-size: 24px;
  align-self: center;
}

.dialog--btn:hover {
  background-color: rgb(253,200,22);
}

.info {
  background-color: rgb(200, 232, 237);
}

.warning {
  background-color: rgb(255,240,194);
}

.error {
  background-color: rgb(245, 205, 209);
}

/* Click to Edit */
.input-class,.input-container {
  font-size: 18px;
  padding: 5px; 
  display: inline-block;   
}

.input-container:hover{
 cursor: pointer;
 background-color: rgb(140, 150, 147);
 color: white;
}

.about {   
  background-color: floralwhite;
  width: 800px;
  height: 600px;
  left: 300px;
  top: 100px;
  position: fixed;    
  padding-top:0; 
  z-index: 5;
  overflow: scroll;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.6;
}

.about-close-btn {
  position: fixed;
  left: 300px;
  top: 100px; 
  background:#ccc;
  padding:0px 10px;    
}

.about-close-btn:hover{
  cursor: pointer;  
  color:#fff;
}

.settings {   
  background-color: floralwhite;
  width: 400px;
  height: 300px;
  left: 400px;
  top: 100px;
  position: fixed;      
  z-index: 5;
  overflow: scroll;      
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.6;
}

.settings-close-btn {
  position: fixed;
  left: 400px;
  top: 100px;      
  background:#ccc;
  padding: 0px 10px;   
}

.settings-close-btn:hover{
  cursor: pointer;  
  color:#fff;
}


.device-info {
  visibility: hidden;
  display: none;   
}

.view_container {
  display: flex;
}

.transeditor {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .menu-bar,.master, .detail {
    visibility: hidden;
  }

  .device-info {
    display: block;
    visibility: visible;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.6;
  }
}
