* {
    box-sizing: border-box
}

body {
    background-color: floralwhite;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,'Helvetica Neue',Helvetica,sans-serif
}

.menu-bar{     
    margin: 0 auto;
}

.menu-item{
    width: 50px;
    height: 50px;
    background-color: #333;
    padding: 5px;
    margin: 0 15px 10px 0;
    border-radius: 25%;
    opacity: .8;
    cursor: pointer;     
}

.master {
    padding: 20px;            
}

.master__warning {
    color: red;
}

.detail {     
    height: 100%;
}

.editor {
    width: 50%;
    height: 100%;
    float: left;
    padding-right: 5px;  
}

.editor__toolbar {
    margin: 10px;
}

.editor__toolbar__filename {
    font-family: "Helvetica", "Arial", sans-serif;       
}
.editor__toolbar__download {     
    margin-left: 50px;
    padding-bottom: 0;
    border-style: none;
    cursor: pointer;      
    width: 50px;
    height: 40px;
    opacity: 0.8;
    background-color: #333;
    border-radius: 25%;
}

.editor__toolbar__trans {     
    margin-left: 50px;
    padding-bottom: 0;
    border-style: none;
    cursor: pointer;      
    width: 50px;
    height: 40px;
    opacity: 0.8;
    background-color: #333;
    border-radius: 25%;
}

.editor__toolbar__pdf {     
    margin-left: 50px;
    padding-bottom: 0;
    border-style: none;
    cursor: pointer;      
    width: 50px;
    height: 40px;
    opacity: 0.8;
    background-color: #333;
    border-radius: 25%;
}

.editor__warning {
    color: red;
    float: right;
}

.transmenu {
    display: inline-block;
    width: 150px;
    padding-left: 25px;
}

